# base_dj
Jinja2
autopep8
pylint
unicodecsv
# Improve mimetype guessing.
# Requires `libmagic1` to be installed sys-wide
python-magic
## PLATFORM
redis==4.3.6
python-json-logger==2.0.7
prometheus_client==0.15.0
## PLATFORM, for azure blob storage
azure-storage-blob==12.16.0
azure-identity==1.13.0

## data_model/modules changes
openupgradelib==3.6.0

## Migration placeholder [import]

## custom
